@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html, body {
  width: 100dvw;
  background-color: #171720;
  color: hsl(190, 100%, 98%);
  scroll-behavior: smooth;
  font-family: "Mona Sans", sans-serif;
  overflow-x: hidden;
}

.hero-layout {
  @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
}

.hero-text {
  @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
  img {
    @apply size-8 md:size-10 object-contain;
  }
  .slide {
    @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
  }
}

.hero-3d-layout {
  @apply xl:w-[70%] w-full h-[115%] min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
}

.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  11.11% {
    transform: translateY(-11.11%);
  }
  22.22% {
    transform: translateY(-22.22%);
  }
  33.33% {
    transform: translateY(-33.33%);
  }
  44.44% {
    transform: translateY(-44.44%);
  }
  55.55% {
    transform: translateY(-55.55%);
  }
  66.66% {
    transform: translateY(-66.66%);
  }
  77.77% {
    transform: translateY(-77.77%);
  }
  88.88% {
    transform: translateY(-88.88%);
  }
}

.navbar {
  position: fixed;
  width: 100%;
  left: 50%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.navbar.scrolled {
  top: 0;
  background-color: black;
}

.navbar.not-scrolled {
  top: 0;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar.not-scrolled {
    top: 2.5rem;
  }
}

.navbar .inner {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: #d9ecff; 
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .navbar .logo {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.navbar .logo:hover {
  transform: scale(1.05);
}

.navbar nav.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .navbar nav.desktop {
    display: flex;
    align-items: center;
  }
}

.navbar nav.desktop ul {
  display: flex;
  column-gap: 2rem;
}

.navbar nav.desktop ul li {
  color: #d9ecff; 
  position: relative;
}

.navbar nav.desktop ul li span {
  transition: color 0.3s;
}

.navbar nav.desktop ul li span:hover {
  color: white;
}

.navbar nav.desktop ul li .underline {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 0;
  height: 0.125rem;
  background-color: white;
  transition: all 0.3s;
}

.navbar nav.desktop ul li.group:hover .underline {
  width: 100%;
}

.navbar .contact-btn {
  display: flex;
}

.navbar .contact-btn .inner {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
  transition: background-color 0.3s;
}

.navbar .contact-btn.group:hover .inner {
  background-color: #1c1c21; 
}

.navbar .contact-btn .inner span {
  transition: color 0.3s;
}

.navbar .contact-btn.group:hover .inner span {
  color: white;
}

.navbar .fixed {
  position: fixed;
  inset: 0;
  z-index: 50;
  padding-top: 5rem;
  background-color: black;
}

.navbar .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.navbar .flex-col {
  display: flex;
  flex-direction: column;
}

.navbar .space-y-6 > * + * {
  margin-top: 1.5rem;
}

.navbar .text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navbar .text-white-50 {
  color: #d9ecff;
}

.navbar .hover\:text-white:hover {
  color: white;
}

.navbar .transition-colors {
  transition-property: color, background-color, border-color;
  transition-duration: 0.3s;
}

.navbar .pt-6 {
  padding-top: 1.5rem;
}

.navbar .border-t {
  border-top-width: 1px;
}

.navbar .border-black-50 {
  border-color: #1c1c21;
}

.navbar .text-white {
  color: white;
}

.navbar .font-medium {
  font-weight: 500;
}
